<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.sustc.androidclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- main view activity -->
        <activity
            android:name=".view.main.MainActivity"
            android:label="@string/all_tasks"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- setting activity -->
        <activity
            android:name=".view.settings.SettingsActivity"
            android:label="@string/settings" />

        <!-- welcome activity -->
        <activity
            android:name=".view.authentication.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- login activity -->
        <activity
            android:name=".view.authentication.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- registration activity -->
        <activity
            android:name=".view.authentication.RegistrationActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- splash activity -->
        <activity
            android:name=".view.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.profile.UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.task.taskdetail.TaskDetailActivity"
            android:label="@string/task_details" />
        <activity
            android:name=".view.about.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name=".view.task.taskmanager.TaskManagerActivity"
            android:label="@string/my_task" />
        <activity
            android:name=".view.task.collectiontask.CollectionTaskActivity"
            android:label="@string/collection_task" />
        <activity
            android:name=".view.task.annotationtask.AnnotationTaskActivity"
            android:label="@string/annotation_task" />
        <activity android:name=".view.task.annotationtask.TagEditorActivity" />
        <activity
            android:name=".view.task.publishtask.TaskPublishActivity"
            android:label="@string/publish_task" />
    </application>

</manifest>