<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.sustc.androidclient">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label=""
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- main view activity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <!-- setting activity -->
        <activity android:name=".ui.main.SettingsActivity" />

        <!-- login activity -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"/>

        <!--registration activity-->
        <activity android:name=".ui.login.RegistrationActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <!--splash activity-->
        <activity
            android:name=".ui.Splash"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>